.session-card-link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  
}

.session-card-link:hover {
  transform: scale(1.03);
}

.session-card {
  width: 300px;
  height: 310px;
  background-color: rgba(20, 20, 30, 0.6); 
  border: 1px solid #3c2a5d;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.2);
  transition: box-shadow 0.3s ease;

}

.session-card:hover {
  box-shadow: 0 0 30px rgba(180, 140, 255, 0.3);
}


.session-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: none;
  margin-bottom: 16px;
}


.session-title {
  font-size: 1.4rem;
  color: #e0e0ff;
  margin-bottom: 8px;
  text-shadow: 0 0 6px rgba(180, 140, 255, 0.3);
}


.session-duration {
  font-size: 1rem;
  color: #b8aaff;
}